http_port {{ container_squid_port }}

# Authentication
auth_param basic program /usr/lib/squid/basic_ncsa_auth /etc/squid/passwd
auth_param basic realm {{ item.proxy_realm }}
acl authenticated proxy_auth REQUIRED

# Ports
acl SSL_ports port 443 8006
acl Safe_ports port 80 443 8006
acl CONNECT method CONNECT

# Allowed source networks
{% for cidr in allowed_source_cidrs %}
acl allowed_sources src {{ cidr }}
{% endfor %}

# Allowed destination targets
{% for target in item.allowed_targets %}
acl allowed_targets dst {{ target }}
{% endfor %}

# Basic security rules
http_access deny !Safe_ports
http_access deny CONNECT !SSL_ports

# Access rules
http_access allow authenticated allowed_sources allowed_targets

# Deny all others
http_access deny all

access_log /var/log/squid/access.log
cache_log /var/log/squid/cache.log
